
:root {                     /* előre beállítjuk a színeket és innen csak válogatjuk */
    --fekete: #3C3D3C;
    --lightgray: #F3F6F4;
    --gray: #9BAEBC;
    --black: #000000;
    --white: #ffffff;
    --mainFont: 'Roboto', sans-serif;/*
    --logoFont: 'Gloria Hallelujah', cursive;*/
} 

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--lightgray);
    font-family: var(--mainFont);
    color: var(--black);
} 

img {
    width: 100%;
    height: auto;
    
}

.container {
    font-size: 1rem;
}

.kontener-navbar {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    overflow: hidden;
}


                /* TABLET -----> */ 
@media screen and (max-width:767px) {
        .navbar-lista, .navbar-menu {
            visibility: hidden;
        }
        
}
@media screen and (min-width:768px) {
    .container {
        width: 100%;
    }
                /* -------------- NAVBAR ----------------*/
    .kontener-navbar {
        display: flex;
        flex-direction: row;
        background-color: var(--fekete);
        padding: 3rem;
        height: 6.5vh;
        max-width: 100%;
        justify-content: space-between;

    }

    .navbar-menu {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    
    .navbar-lista {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 20px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-item {
        font-size: 1.6rem;
        margin-right: 1.8rem;
        margin-left: 1.8rem;
    } 

            /* --------- GRID ----------*/
    .kontener-navbar {
        grid-area: navbar;
    }

    .kontener-kep {
        grid-area: navkep;
    }

    .kontener-focim {
        grid-area: navcim;
    }
            /* ------------- HAMBURGER ----------*/
    
    .hamburger-button {
        visibility: hidden;
        transition-property: none;
    }

    .menu__box {
        visibility: visible;
        left: 0;
        transition-property: none;
    }

    .hamburger-lines,
    .hamburger-lines::before,
    .hamburger-lines::after{
        transition-property: none;
    }


}
                /* ASZTALI -----> */
@media screen and (min-width: 992px) {
    .container {
        width: 100%;
    }
    .kontener-navbar {
        grid-area: navbar;
    }

    .kontener-kep {
        grid-area: navkep;
    }

    .kontener-focim {
        grid-area: navcim;
    }

    header {
        display: grid;
        grid-template-areas:
        "navbar navbar"
        "navkep navcim"
        ;
    }
    
    .kontener-kep__item {
        bottom: 0;
        height: auto;
        width: 500vw;
        padding-top: 10vh;
    }
    
    .kontener-focim {
        align-items: center;
        justify-content: center;
    } 

}