:root {
  --fekete: #3c3d3c;
  --lightgray: #f3f6f4;
  --gray: #9baebc;
  --black: #000000;
  --white: #ffffff;
  --mainFont: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  user-select: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: var(--lightgray);
  font-family: var(--mainFont);
  color: var(--black);
  max-width: 100vw;
}

img {
  width: 100%;
  height: auto;
}

.nagy-kontener {
  scroll-margin-top: 65px;
}

/* POPUP ABLAK */

.popup-container {
  opacity: 0;
}

.cookie-popup {
  background-color: var(--fekete);
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  min-height: 2.5rem;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie-popup p {
  color: white;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.bi-x {
  font-size: 3.5rem;
  color: white;
  cursor: pointer;
}

/*----- COOKIE OLDAL-----*/

.cookie {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 120px;
}

.cookie-szoveges {
  width: 100%;
  height: 100%;
}

.cookie__cim {
  width: 100%;
  height: 10vh;
}

.cookie-szoveges h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cookie-szoveges p,
.cookie-szoveges h3,
.cookie-szoveges h2,
.cookie-szoveges ul {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.cookie-szoveges p a {
  color: black;
  text-decoration: underline;
}

.cookie-szoveges p a:hover {
  color: gray;
}

.cookie-szoveges ul li {
  margin-bottom: 10px;
}

.cookie-szoveges ul a {
  color: black;
  text-decoration: underline;
}

.cookie-szoveges ul a:hover {
  color: gray;
}

/* ----------------------------------HEADER-----------------------------------------------------*/

/* -------- KONTÉNER ------------*/

.kontener-navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: var(--fekete);
  padding: 3em;
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  top: 0;
  justify-content: space-between;
  z-index: 10000;
  overflow: hidden;
  box-shadow: 2px 2px 5px gray;
}

/*------------- LOGÓ --------------*/

.navbar-logo {
  position: fixed;
  display: flex;
  align-items: center;
  min-width: 55px;
  max-width: 55px;
  width: 9vw;
  top: 15px;
  right: 30px;
  justify-content: space-between;
}

/*-------------- MENÜ ---------------*/

.navbar-menu {
  display: flex;
  visibility: visible;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar-lista {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

/*--------------------HAMBURGER -----------*/

.hamburger-button {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  transition-duration: 0.2s;
}

.hamburger-lines::before {
  content: "";
  top: -10px;
}

.hamburger-lines::after {
  content: "";
  top: 10px;
}

.menu__box {
  display: block;
  position: fixed;
  width: 300px;
  padding: 70px 0;
  background-color: var(--fekete);
  color: white;
  top: 15px;
  left: 10px;
  height: 100%;
  visibility: hidden;
  box-shadow: 3px 0 8px var(--fekete);
  /* átmenet balról */
  left: -300px;
  transition-duration: 0.5s;
}

.menu__item {
  padding: 20px 30px;
  font-size: 24px;
  cursor: pointer;
}

#menu-toggle {
  visibility: hidden;
}

#menu-toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

#menu-toggle:checked ~ .hamburger-button .hamburger-lines {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .hamburger-button .hamburger-lines::before {
  display: none;
}

#menu-toggle:checked ~ .hamburger-button .hamburger-lines::after {
  top: 0;
  transform: rotate(90deg);
}

/* ---------------- LINK SZÍN ---------------*/

a:link,
a:visited {
  color: white;
}

a:hover {
  color: var(--gray);
}

/*---------------------------------------MAIN---------------------------------------------------*/

/* --------------HEADER-KÉP-----------*/

.kontener-kep {
  display: none;
}

/* -------------HEADER-SZÖVEG-------------*/

.kontener-focim {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 8em;
  position: relative;
  font-size: 1.2rem;
  background-color: #f3f6f4;
}

.focim__h1 {
  text-align: center;
  font-size: 3em;
  margin: 10vh auto;
}

.span-focim-h1 {
  text-transform: uppercase;
  color: #3c3d3c;
}

.focim__h2 {
  height: 120px;
  text-align: center;
  font-size: 3em;
}

/* -----------------RÓLAM--------------------- */

.kontener-rolam {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  padding: 2em;
  max-width: 100%;
}

.rolam__szoveg {
  text-align: start;
  max-width: 100%;
  margin-bottom: 25px;
  font-size: 1.8rem;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 3.5rem;
}

#git-kep-rolam {
  width: 100%;
  width: 70px;
  height: 70px;
}

.rolam__cim {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.udv-szoveg {
  font-weight: 700;
  font-size: 1.8rem;
}

.udv-szoveg2 {
  font-weight: 700;
  margin-top: 2rem;
}

.rolam-git {
  cursor: pointer;
  transition: 0.3s;
  width: 10%;
}

#git-kep-rolam {
  width: 70px;
  height: 70px;
}

.rolam-git:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.rolam-git:hover::before,
.rolam-git:hover::after {
  transition: 0.3s;
}

.rolam-btns {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.rolam-btns a {
  color: black;
  font-size: 1.5rem;
}

.rolam-btn1 {
  margin-bottom: 2rem;
  margin-right: 5rem;
  border: none;
  transition-duration: 0.5s;
}

.rolam-btn2 {
  margin-bottom: 2rem;
  margin-right: 5rem;
  border: none;
  transition-duration: 0.5s;
}

.rolam_btn {
  padding: 1.4rem;
  background-color: #e1e6e9d1;
  box-shadow: 5px 5px 10px gray;
  font-weight: 700;
  transition-duration: 0.5s;
}

#rolam-btn_a_2 {
  margin-left: 50px;
}

.rolam_btn:hover {
  background-color: var(--fekete);
  color: #ffffff;
}

.rolam-btn a:hover {
  color: white;
}
/* ------------------SZAKMAI ISMERETEK-------------- */

.kontener-szakmai {
  display: flex;
  flex-direction: column;
  padding: 2em;
  font-size: 1.5rem;
}

.szakmai__cim {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
}

.szakma {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10vh;
  margin-bottom: 50px;
}

.szakma_conti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
}

.szakmak {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 80px;
  max-width: 90px;
  margin: 10px;
}

/*--------------- MUNKÁIM -----------------*/

.kontener-munkaim {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--gray);
}

.kontener-munkaim__cim {
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}

.munkaim-project-konti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.munkaim-project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--lightgray);
}

.munkaim-project-konti:hover .munkaim-project:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.75;
}

.munkaim-project-konti:hover .munkaim-project:not(:hover)::after {
  background-color: rgba(#000000, 0.5);
}

.munkaim-project::after {
  background-color: rgba(#000000, 0.5);
  transition: 0.3s;
}

.projekt-cim {
  padding: 15px;
}

.projekt-ikon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}

.p-ikon {
  display: flex;
  justify-content: flex-end;
  width: 15%;
  height: auto;
  margin: 15px;
}

.projekt-szoveg {
  padding: 0 15px 15px 15px;
  line-height: 2.5rem;
  font-size: 1.8rem;
}

/*-----------IKONOK-----------*/

.p-ikon {
  cursor: pointer;
  transition: 0.3s;
}

#git-kep {
  width: 70px;
  height: 70px;
}

.p-ikon:hover {
  transition: 0.3s;
  transform: scale(1.54);
}

.p-ikon:hover::before,
.p-ikon:hover::after {
  transition: 0.3s;
}

/* --------------ÖNÉLETRAJZ----------------*/

.kontener-oneletrajz__tanulmanyok {
  padding: 2em;
  font-size: 1.5rem;
  margin-left: 15px;
}

.kontener-oneletrajz__cim {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
}

.kontener-oneletrajz__nyelv {
  padding: 2em;
  margin-left: 15px;
  font-size: 1.5rem;
}

.kontener-oneletrajz__nyelv__cim {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
}

.kontener-oneletrajz__tovabbi {
  padding: 2em;
  margin-left: 15px;
  font-size: 1.5rem;
}

.kontener-oneletrajz__tovabbi__cim {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
}

.onelet-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onelet-item {
  list-style-type: square;
  margin-bottom: 10px;
  font-size: 2rem;
}

/* ----------------KAPCSOLAT ------------------*/

.kapcsolat {
  margin-top: 50px;
}

.kontener-kapcsolat {
  padding: 2em;
  font-size: 1.5rem;
  scroll-margin-top: 80px;
}

.kontener-form {
  display: flex;
  flex-direction: column;
  padding: 0em;
  font-size: 1.5rem;
}

.kontener-form-1 {
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 1.5rem;
}

.kontener-form__nev {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #f3f6f4;
}

.kontener-form__email {
  padding: 15px;
  border: 2px solid #f3f6f4;
}

.kontener-form-2 {
  padding: 15px;
}

.kontener-kapcsolat,
.kontener-form {
  background-color: var(--gray);
  font-size: 1.5rem;
}

.kontener-kapcsolat__szoveg {
  padding-top: 10px;
  font-size: 1.8rem;
}

.kontener-kapcsolat__cim {
  font-size: 2.5rem;
}

.kontener-form__uzenet {
  padding: 15px;
  font-size: 1.5rem;
  width: 100%;
  border: 2px solid #f3f6f4;
  resize: vertical;
}
/*--------------------GOMB-------------------*/
.form-gomb {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  font-size: 1.5rem;
}

.kontener-form_gomb {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  font-size: 1.5rem;
  border: 3px solid #3c3d3c;
  background-color: #9baebc;
  color: #3c3d3c;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.kontener-form_gomb:hover {
  background-color: var(--lightgray);
}

/*---------------------------------------FOOTER------------------------------------------------*/

/* --------------- FOOTER KONTÉNER --------------*/

.footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color: var(--fekete);
  position: relative;
  box-shadow: 0 -2px 5px var(--gray);
}

/* --------------- FOOTER IKONOK ------------------*/

.footer-ikonok {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ikon {
  display: flex;
  justify-content: center;
  width: 80px;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
  transition: 0.3s;
}

#git-kep {
  width: 90px;
  height: 90px;
}

#linkedin-kep {
  width: 90px;
  height: 90px;
}

#email-kep {
  width: 90px;
  height: 90px;
}

.ikon:hover {
  transition: 0.3s;
  transform: scale(1.54);
}

.ikon:hover::before,
.ikon:hover::after {
  transition: 0.3s;
}
/*----------------FOOTER LINKEK --------------- */

.footer-linkek {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100px;
}

.footer-link {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.8rem;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  max-height: 70%;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

.popup h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: var(--gray);
}

.szabalyzat {
  list-style-type: disc;
  line-height: 2.5rem;
}

.content1,
.content {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.impresszum_cim,
.adatvedelem_cim {
  font-size: 2rem;
}

.footer-cookie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.8rem;
  color: white;
}

/* -------------- FOOTER SZÖVEG --------------- */

.kontener-footer {
  display: flex;
  background-color: var(--fekete);
  color: white;
  padding: 2em;
  font-size: 1.5rem;
  width: 100%;
  justify-content: center;
}

/* ---------------------------------------MEDIA QUERY-----------------------------------------*/

/* -----TABLET -----> */
@media screen and (max-width: 767px) {
  .navbar-lista,
  .navbar-menu {
    visibility: hidden;
  }

  /* -----LAPTOP-------*/
}

@media screen and (min-width: 768px) {
  /*------------------------------------HEADER-----------------------------------------*/

  /* -------------- NAVBAR ----------------*/

  .navbar-item {
    font-size: 1.5em;
    margin-right: 2rem;
  }

  /* ------------- HAMBURGER ----------*/

  .hamburger-button {
    display: none;
    transition-property: none;
  }

  .menu__box {
    display: none;
    transition-property: none;
  }

  .hamburger-lines,
  .hamburger-lines::before,
  .hamburger-lines::after {
    transition-property: none;
  }

  /* -------------RÓLAM-BTN---------------*/

  .rolam_btn {
    padding: 20px 40px;
  }

  /*------------------------------------------MAIN--------------------------------------*/

  /* ------------------------HEADER-KÉP ÉS HEADER-SZÖVEG---------------------*/
  .focim-kep {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 500px;
    position: relative;
    top: 75px;
  }

  .header-focim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 400px;
  }

  .kontener-focim {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0em;
    font-size: 1.2rem;
    background-color: #f3f6f4;
  }

  .header-kep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 587px;
  }

  .kontener-kep {
    display: flex;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    background-color: #f3f6f4;
  }

  .kontener-kep__item {
    width: 49vw;
    max-height: 300px;
    max-width: 300px;
    opacity: 80%;
    transition: 300ms;
    filter: grayscale(30%);
  }

  .focim__h1 {
    text-align: center;
    font-size: 3em;
    margin: 6vh auto;
  }

  .span-focim-h1 {
    text-transform: uppercase;
    color: #3c3d3c;
  }

  .focim__h2 {
    height: 120px;
    text-align: center;
    font-size: 3em;
  }

  /*------------------RÓLAM-SZÖVEG--------------*/

  .rolam__cim {
    font-size: 2.5rem;
  }

  .rolam__szoveg {
    font-size: 1.8rem;
  }

  .udv-szoveg {
    font-size: 2rem;
  }

  /* ---------- SZAKMAI ISMERETEK-------------*/

  .szakma {
    height: 20vh;
    margin-bottom: 20px;
  }

  .szakmak {
    min-width: 80px;
    max-width: 80px;
    margin-right: 80px;
    margin-left: 80px;
  }

  .szakmai__cim {
    font-size: 2.5rem;
  }

  /* ----------- MUNKÁIM ---------*/

  .munkaim-project-konti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
  }

  .munkaim-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    height: auto;
    box-shadow: 2px 2px 5px black;
    margin: 10px 15px;
  }

  .kontener-munkaim__cim {
    font-size: 2.5rem;
  }

  /*-------------ÖNÉLETRAJZ----------*/

  .oneletrajz-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .kontener-oneletrajz {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .kontener-oneletrajz__tanulmanyok {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 33%;
    padding: 2em;
    font-size: 1.5rem;
    margin-left: 0;
  }

  .kontener-oneletrajz__nyelv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 33%;
    padding: 2em;
    margin-left: 0;
  }

  .kontener-oneletrajz__tovabbi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 33%;
    padding: 2em;
    margin-left: 0;
  }

  .onelet-lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .onelet-item {
    list-style-type: square;
    font-size: 2rem;
  }

  .kontener-oneletrajz__cim {
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 20px;
  }

  .kontener-oneletrajz__nyelv__cim {
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 20px;
  }

  .kontener-oneletrajz__tovabbi__cim {
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 20px;
  }

  /* --------------------- KAPCSOLAT -------------------*/

  .kapcsolat {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .kontener-kapcsolat {
    display: flex;
    max-width: 100%;
  }

  .kontener-form {
    display: flex;
    flex-direction: column;
    padding: 0em;
    font-size: 1.5rem;
    max-width: 100%;
  }

  .kontener-form-1 {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.5rem;
    max-width: 100%;
  }

  .kontener-form__nev {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #f3f6f4;
  }

  .kontener-form__email {
    padding: 15px;
    border: 2px solid #f3f6f4;
  }

  .kontener-form-2 {
    padding: 15px;
  }

  .kontener-form__uzenet {
    padding: 15px;
    font-size: 1.5rem;
    width: 100%;
    border: 2px solid #f3f6f4;
  }
  /*
    .form-gomb {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px;
        font-size: 1.5rem;
    }

    .kontener-form_gomb {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px;
        font-size: 1.5rem;
        border: 3px solid #3C3D3C;
        background-color: #9BAEBC;
        color: #3C3D3C;
        font-weight: 700;
        cursor: pointer;
    }
*/
  .kontener-kapcsolat {
    display: flex;
    flex-direction: column;
  }

  .kontener-kapcsolat__cim {
    font-size: 2.5rem;
  }

  .kontener-kapcsolat__szoveg {
    font-size: 1.8rem;
  }
}

/* ----------------------------------ASZTALI-NAGY-----------------------------------> */
@media screen and (min-width: 992px) {
  /* ----------------------------------HEADER---------------------------------*/
  /*----------------NAVBAR-----------------------*/

  .navbar-lista {
    margin-left: 11rem;
  }

  .navbar-item {
    font-size: 1.5em;
    margin-right: 3.8rem;
  }

  .navbar-logo {
    top: 5px;
    max-width: 75px;
    margin-right: 10rem;
  }

  .navbar-menu {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  /*------------------------------------------MAIN--------------------------------------*/

  .focim-kep {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 500px;
    position: relative;
    top: 75px;
  }

  .header-focim {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .kontener-focim {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding: 0em;
    font-size: 1.2rem;
    background-color: #f3f6f4;
  }

  .header-kep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 587px;
  }

  .kontener-kep {
    display: flex;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    background-color: #f3f6f4;
  }

  /*----------------HEADER-KÉP----------*/

  .kontener-kep__item {
    width: 49vw;
    max-height: 300px;
    max-width: 300px;
    opacity: 80%;
    transition: 300ms;
    filter: grayscale(30%);
  }

  /*-----------------HEADER-SZÖVEG--------------*/

  .focim__h1 {
    text-align: center;
    font-size: 3em;
    margin: 10vh auto;
  }

  .span-focim-h1 {
    text-transform: uppercase;
    color: #3c3d3c;
  }

  .focim__h2 {
    height: 120px;
    text-align: center;
    font-size: 3em;
  }

  /* ----------------RÓLAM SZÖVEG-----------------*/

  .kontener-rolam {
    max-height: 80vh;
  }

  .rolam-szoveges {
    max-height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .rolam__szoveg {
    max-height: 100%;
    max-width: 80%;
    margin: 30px;
    margin-left: 15rem;
    margin-right: 10rem;
  }

  #git-kep-rolam {
    margin-left: 150px;
  }

  .rolam__cim {
    font-size: 2.5rem;
  }

  .rolam__szoveg {
    font-size: 1.8rem;
  }

  .udv-szoveg {
    font-size: 2rem;
  }

  .rolam-btns {
    margin-left: 150px;
  }

  /*-------------------------SZAKMAI ISMERETEK--------------------*/

  .szakmai__cim {
    font-size: 2.5rem;
  }

  /*----------------------------MUNKÁIM----------------------------*/

  .kontener-munkaim__cim {
    font-size: 2.5rem;
  }

  .munkaim-project-konti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
  }

  .munkaim-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    height: auto;
    box-shadow: 2px 2px 5px black;
    margin: 20px 20px;
  }

  /*--------------------------ÖNÉLETRAJZ--------------------------------*/

  .kontener-oneletrajz {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  /* ----------------- KAPCSOLAT ----------------*/

  .kapcsolat {
    display: flex;
    width: 100%;
    height: auto;
  }

  .kontener-kapcsolat__cim {
    font-size: 2.5rem;
  }

  .kontener-kapcsolat__szoveg {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  /* ----------------------------------HEADER---------------------------------*/
  /*----------------NAVBAR-----------------------*/

  .navbar-item {
    margin-right: 5.8rem;
    font-size: 1.8em;
  }

  .navbar-menu {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  /*------------------------HEADER FŐCÍM-------------------------*/
  .kontener-focim {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 449px;
    padding: 0em;
    font-size: 1.4rem;
    background-color: #f3f6f4;
  }

  .focim__h1 {
    text-align: center;
    font-size: 3em;
    margin: 6vh auto;
  }

  /*------------------------------RÓLAM-SZÖVEG-------------------------*/

  .kontener-rolam {
    max-height: 80vh;
  }

  .rolam__szoveg {
    max-height: 100%;
    max-width: 1200px;
    margin-left: 15rem;
    margin-right: 10rem;
  }

  #git-kep-rolam {
    margin-left: 170px;
  }

  .rolam__cim {
    font-size: 2.5rem;
  }

  .rolam__szoveg {
    font-size: 1.8rem;
  }

  .udv-szoveg {
    font-size: 2rem;
  }

  .rolam-btns {
    max-width: 1200px;
    margin-left: 15rem;
    margin-right: 10rem;
  }

  .navbar-lista {
    margin-left: 20rem;
  }

  .navbar-logo {
    margin-right: 25rem;
  }

  /*--------------------------SZAKMAI ISMERETEK----------------------*/

  .szakmak {
    min-width: 80px;
    max-width: 120px;
    margin-right: 80px;
    margin-left: 80px;
  }

  /*---------------------------MUNKÁIM------------------------*/
  .munkaim-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    height: auto;
    box-shadow: 2px 2px 5px black;
    margin: 20px 35px;
  }

  /*-------------------------------- ÖNÉLETRAJZ--------------------------*/

  .kontener-oneletrajz {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  /* ----------------- KAPCSOLAT ----------------*/

  .kontener-kapcsolat__cim {
    font-size: 2.5rem;
  }

  .kontener-kapcsolat__szoveg {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1700px) {
  .navbar-logo {
    margin-right: 35rem;
  }
}

@media screen and (min-width: 2000px) {
  .navbar-logo {
    margin-right: 55rem;
  }
}
